/*Compañia*/

.set{
    display: flex;
    height: 350px;
    justify-content: space-between;
    background-image: url(../Multimedia/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -330px;
}

.nzv ul li{
    display: inline-block;
    margin-right: 20px;
    border: 2px double black;
    cursor: pointer;
}

.table {
   background-color: $colortabla
    
}

.x {
    background-color: $colortabla;
}

.donde{
    display: flex;
    justify-content: center;
    align-items: center;
}

.as{
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

@media screen and (max-width: 767px) {
    .set {
        display: flex;
        width: 100%;
        background-position-y: -40px ;
        height: 100%;
    }


    .nzv ul li {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: orange;
    }


    
}

@media screen and (min-width: 767px) {
    .set {
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .nzv ul li {
        display: inline-block;
        background-color: orange;
    }
}