/*Pie*/

.fot{
    background-color: lightblue;
    &__p{
        display: inline-block;
        font-family: 'Hina Mincho', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}



@media screen and (max-width: 767px) {
      .fot {
          display: inline-block;
          width: 100%;
      }
       

    .fot__p {
        display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
    }
   

    
}