/*Modelos*/

.sepo{
    display: flex;
    height: 380px;
    justify-content: space-between;
    background-image: url(../Multimedia/modelos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.nev ul li{
    display: inline-block;
    margin-right: 20px;
    border: 2px double black;
    cursor: pointer;
}

.ypd {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    
}

.ypp {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;

}

.ypf{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.card img{
    height: 150px;
}
.card{
    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-decoration: underline;
    }
}
.card {
    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Concert One', cursive;
        
     
    }
}

.card {
    &-body{
        background-color: $backgroundbody;
    }
}

.yape{
    background-image: url(../Multimedia/cielo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.modelosh{
    background-color: $backgroundbody;
    &__comerc{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Redressed', cursive;
        font-size: 60px;
    }
}

@media screen and (max-width: 767px) {

    .sepo {
        display: flex;
        width: 100%;
        background-size: 100%;
        height: auto;
    }

    .nev ul li {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: orange;
    }

    .modelosh {
        width: 100%;
    }

    .modelosh__comerc{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .sepo {
        display: flex;
        width: 100%;
        background-size: 100%;
     
    }
    
    .nev ul li {
        display: inline-block;
        background-color: orange;
    }
}