/*Servicios*/

.sez{
    display: flex;
    height: 300px;
    justify-content: space-between;
    background-image: url(../Multimedia/servic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -320px;

}

.nsv ul li{
    display: inline-block;
    margin-right: 20px;
    border: 2px double black;
    cursor: pointer;
}

.ccc{
    display: flex;
    margin-top: 130px;
    }

    .cards {
     height: 100px;
        &-bodys{
            background-color: $colorbody;
        }
    }

    .ddd {
        background-color: $colorbody;
    }

    .xui{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lobster', cursive;
        &__dd{
            font-size: 3rem;
            text-decoration: underline;
        }  
    }
  

  @media screen and (max-width: 767px) {

    .sez {
        display: flex;
        width: 100%;
        background-size: 100%;
        height: auto;
        background-position-y: -100px;

    }

    .xui {
        width: 100%;
    }

    .xui__dd {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .ccc {
        width: 100%;
        
    }

    .cards img {
        height: 80%;
    }

    .card-text {
       font-size: 10px;
    }

    .nsv ul li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: orange;
    }
      
  }

  @media screen and (min-width: 768px) {
      .sez {
          display: flex;
          width: 100%;
          background-size: 100%;
          background-position-y: -120px;
          background-position-x: auto;
      }
    
      .nsv ul li {
          background-color: orange;
      }

      .xui {
          width: 100%;
      }

      .xui__dd{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
      }
      
  }