/*Servicios*/

.sez{
    display: flex;
    height: 300px;
    justify-content: space-between;
    background-image: url(../Multimedia/servic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -320px;

}

.nsv ul li{
    display: inline-block;
    margin-right: 20px;
    border: 2px double black;
    cursor: pointer;
}

.ccc{
    display: flex;
    margin-top: 130px;
    }

    .cards {
     height: 100px;
        &-bodys{
            background-color: $colorbody;
        }
    }

    .ddd {
        background-color: $colorbody;
    }

    .xui{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lobster', cursive;
        &__dd{
            font-size: 3rem;
            text-decoration: underline;
        }  
    }
  

    @media screen and (max-width: 414px) {

        .ddd{
            background-color: $colorbody;
        }

        .sez{
            display: inline-block;
            width: 414px;
            background-position-y: -50px;
             background-size: 414px;
        }

        .sez .bir{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nsv ul li {
            margin-left: -5px;
        }

        .xui {
            width: 414px;
        }

        .xui__dd{
            font-size: 20px;
        }

        .ccc{
            width: 414px;
        }

        .card-text{
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

    @media screen and (min-width: 767px) and (max-width: 768px) {

        .sez{
            width: 768px;
            display: inline-block;
            background-size: 768px;
            background-position-y: -60px;
        }

        .nsv ul li {
            margin-left: 65px;
            margin-top: 35px;
        }

        .xui{
            width: 768px;
        }

        .xui__dd{
            font-size: 35px;
            margin-top: 20px;
        }
        
    }

    @media screen and (min-width: 1279px) and (max-width: 1280px) {

        .sez{
            width: 1280px;
            display: inline-block;
            background-size: 1280px;
        }

        .sez .bir {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .nsv ul li {
            margin-left: 160px;
            margin-top: 40px;
        }
        
    }
    @media screen and (min-width: 1339px) and (max-width: 1440px) {
        .sez{
            width: 1440px;
            display: inline-block;
        }

        .sez .bir{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nsv ul li {
            margin-left: 200px;
            margin-top: 40px;
        }
    }

    @media screen and (min-width: 1900px) {

        .sez{
            width: 1900px;
            display: inline-block;
            background-size: 1900px;
            background-position-y: -400px;
        }

        .sez .bir {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nsv ul li {
            margin-left: 280px;
            margin-top: 40px;
        }

        .ccc{
            display: flex;
            justify-content: center;
        }
    }
